/*********************

COMMON

*********************/

body{
    font-family: "monospace",sans-setive;
}

.font-primary{
    color: #00abae;
}

.title-icon{
    font-size: 20px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

h2 {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}

a.font-black {
    color: #000 !important;
}

/*********************

ABOUT

*********************/

#about {
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}

#about img {
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}

#about .name {
    font-size: 19px;
}

#about .vocation {
    font-size: 20px;
    color: #A8A8AB;
    margin-bottom:10px;
}

#about .skills {
    font-size: 17px;
    color: #00ABAE;
    margin-bottom:10px;
    font-weight: 13% bold;
}

p {
    font-weight: bold;
}

#about .email {
    margin-top: 14px;
    font-size: 14px;
    font-weight: bold;
}

#about .icons {
    margin-top: 20px;
    font-size: 30px;
}

#about .icons a{
    color: rgb(0, 0, 0);
}

/*********************

PROJECT

*********************/

#project {
    margin: 60px auto;
    width: 80%;
}

#project  h2 {
    text-align: center;
}

#project .card img {
    width: 100%;
}

#project .card-title {
    font-weight: bold;
}